body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-family: sans-serif;
}

.card {
    width: 500px;
    height: 250px;
    background: #c7ecee;
    padding: 20px 80px 20px 20px;
    border-radius: 10px;
    transition: .5s;
    clip-path: circle(7% at 93% 20%);
    user-select: none;
    &:hover {
        clip-path: circle(70%);
    }
    h1 {
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    p {
        font-size: 18px;
    }
}