body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EE5253;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
    span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 4px;
        animation: chase 2.1s linear infinite;
        @for $i from 2 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: calc(0.7s * ($i - 1));
            }
        }
    }
}

@keyframes chase {
    0%, 87.5%, 100% { top: 0; left: 0; }
    12.5%, 25% { top: 0; left: 50%; }
    37.5%, 50% { top: 50%; left: 50%; }
    62.5%, 75% { top: 50%; left: 0; }
}